In [2]:
import pandas as pd
import numpy as np

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

%matplotlib inline

In [17]:
df1 = pd.read_csv('data/january-2017.csv')
df2 = pd.read_csv('data/february-2017.csv')
df3 = pd.read_csv('data/march-2017.csv')
df4 = pd.read_csv('data/april-2017.csv')
df5 = pd.read_csv('data/may-2017.csv')
df6 = pd.read_csv('data/june-2017.csv')
df7 = pd.read_csv('data/july-2017.csv')
df8 = pd.read_csv('data/august-2017.csv')
df9 = pd.read_csv('data/september-2017.csv')
df10 = pd.read_csv('data/october-2017.csv')
df11 = pd.read_csv('data/november-2017.csv')
df12 = pd.read_csv('data/december-2017.csv')

dft=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

df=dft.fillna(0)

df

,UTC time,3_temperature,3_humidity,3_pressure,3_pm1,3_pm25,3_pm10,140_temperature,140_humidity,140_pressure,...,857_pressure,857_pm1,857_pm25,857_pm10,895_temperature,895_humidity,895_pressure,895_pm1,895_pm25,895_pm10
0,2017-01-01T00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2017-01-01T01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2017-01-01T02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2017-01-01T03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2017-01-01T04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,2017-12-24T20:00:00,0.0,0.0,0.0,0.0,0.0,0.0,6.0,87.0,101736.0,...,101726.0,12.0,15.0,31.0,5.0,85.0,101798.0,13.0,15.0,26.0
573,2017-12-24T21:00:00,0.0,0.0,0.0,0.0,0.0,0.0,6.0,88.0,101776.0,...,101771.0,12.0,14.0,29.0,5.0,85.0,101840.0,12.0,13.0,23.0
574,2017-12-24T22:00:00,0.0,0.0,0.0,0.0,0.0,0.0,6.0,85.0,101785.0,...,101788.0,10.0,12.0,26.0,5.0,82.0,101839.0,10.0,12.0,21.0
575,2017-12-24T23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,5.0,88.0,101782.0,...,101774.0,9.0,11.0,24.0,5.0,85.0,101837.0,10.0,12.0,21.0
576,2017-12-25T00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,6.0,88.0,101784.0,...,101774.0,10.0,11.0,23.0,5.0,85.0,101840.0,10.0,11.0,20.0

In [8]:
minLat =49
maxLat=54.50
minLng =14.07
maxLng=24.08

In [12]:
df['Time']=pd.to_datetime(df['UTC time'])
df['pressure']=df['895_pressure']
df['pm1']=df['895_pm1']
df['pm25']=df['895_pm25']
df['pm10']=df['895_pm10']
df['temp']=df['895_temperature']
df['humidity']=df['895_humidity']

n=15



feats=[
    'Time',
    'pressure',
    'temp',
    'humidity'    
]
pre=[
    'pm1',
]
X=df[feats]
y=df[pre]
model=KNeighborsClassifier()

In [16]:
api = pd.read_json('http://api.gios.gov.pl/pjp-api/rest/station/findAll')
api

,id,stationName,gegrLat,gegrLon,city,addressStreet
0,114,Wrocław - Bartnicza,51.115933,17.141125,"{'id': 1064, 'name': 'Wrocław', 'commune': {'c...",ul. Bartnicza
1,117,Wrocław - Korzeniowskiego,51.129378,17.029250,"{'id': 1064, 'name': 'Wrocław', 'commune': {'c...",ul. Wyb. J.Conrada-Korzeniowskiego 18
2,129,Wrocław - Wiśniowa,51.086225,17.012689,"{'id': 1064, 'name': 'Wrocław', 'commune': {'c...",al. Wiśniowa/ul. Powst. Śląskich
3,52,Legnica - Rzeczypospolitej,51.204503,16.180513,"{'id': 453, 'name': 'Legnica', 'commune': {'co...",al. Rzeczypospolitej 10/12
4,109,Wałbrzych - Wysockiego,50.768729,16.269677,"{'id': 998, 'name': 'Wałbrzych', 'commune': {'...",ul. Wysockiego 11
...,...,...,...,...,...,...
191,142,Grudziądz Airpointer,53.493550,18.762139,"{'id': 269, 'name': 'Grudziądz', 'commune': {'...",ul. Piłsudskiego 51
192,143,Inowrocław Airpointer,52.793122,18.241044,"{'id': 287, 'name': 'Inowrocław', 'commune': {...",ul. Solankowa
193,164,Ciechocinek,52.888422,18.780908,"{'id': 122, 'name': 'Ciechocinek', 'commune': ...",ul. Tężniowa - Park Tężniowy
194,190,Koniczynka,53.080647,18.684258,"{'id': 391, 'name': 'Koniczynka', 'commune': {...",None
195,232,Bory Tucholskie,53.662117,17.934017,"{'id': 1104, 'name': 'Zielonka', 'commune': {'...",None

In [14]:
def take_polution(id):
    return pd.read_json('http://api.gios.gov.pl/pjp-api/rest/aqindex/getIndex/'+id )

r=take_polution('114')

r

,id,stCalcDate,stIndexLevel,stSourceDataDate,so2CalcDate,so2IndexLevel,so2SourceDataDate,no2CalcDate,no2IndexLevel,no2SourceDataDate,...,pm25IndexLevel,pm25SourceDataDate,o3CalcDate,o3IndexLevel,o3SourceDataDate,c6h6CalcDate,c6h6IndexLevel,c6h6SourceDataDate,stIndexStatus,stIndexCrParam
id,114,2020-04-30 13:20:14,1,2020-04-30 12:00:00,NaN,NaN,NaN,1588245614000,0,2020-04-30 12:00:00,...,NaN,NaN,2020-04-30 13:20:14,1,2020-04-30 12:00:00,NaN,NaN,NaN,True,OZON
indexLevelName,114,2020-04-30 13:20:14,Dobry,2020-04-30 12:00:00,NaN,NaN,NaN,1588245614000,Bardzo dobry,2020-04-30 12:00:00,...,NaN,NaN,2020-04-30 13:20:14,Dobry,2020-04-30 12:00:00,NaN,NaN,NaN,True,OZON

In [20]:
w = pd.read_json('http://api.gios.gov.pl/pjp-api/rest/data/getData/92')
w.values

array([['PM10', {'date': '2020-04-30 13:00:00', 'value': None}],
       ['PM10', {'date': '2020-04-30 12:00:00', 'value': 23.1982}],
       ['PM10', {'date': '2020-04-30 11:00:00', 'value': 22.7766}],
       ['PM10', {'date': '2020-04-30 10:00:00', 'value': 24.3437}],
       ['PM10', {'date': '2020-04-30 09:00:00', 'value': 14.5343}],
       ['PM10', {'date': '2020-04-30 08:00:00', 'value': 22.8673}],
       ['PM10', {'date': '2020-04-30 07:00:00', 'value': 19.2924}],
       ['PM10', {'date': '2020-04-30 06:00:00', 'value': 15.9656}],
       ['PM10', {'date': '2020-04-30 05:00:00', 'value': 15.5797}],
       ['PM10', {'date': '2020-04-30 04:00:00', 'value': 15.7774}],
       ['PM10', {'date': '2020-04-30 03:00:00', 'value': 7.35002}],
       ['PM10', {'date': '2020-04-30 02:00:00', 'value': 8.85421}],
       ['PM10', {'date': '2020-04-30 01:00:00', 'value': 15.5562}],
       ['PM10', {'date': '2020-04-30 00:00:00', 'value': 21.2314}],
       ['PM10', {'date': '2020-04-29 23:00:00', 'value': 18.758}],
       ['PM10', {'date': '2020-04-29 22:00:00', 'value': 19.418}],
       ['PM10', {'date': '2020-04-29 21:00:00', 'value': 22.9987}],
       ['PM10', {'date': '2020-04-29 20:00:00', 'value': 19.7617}],
       ['PM10', {'date': '2020-04-29 19:00:00', 'value': 9.43987}],
       ['PM10', {'date': '2020-04-29 18:00:00', 'value': 6.54087}],
       ['PM10', {'date': '2020-04-29 17:00:00', 'value': 10.6277}],
       ['PM10', {'date': '2020-04-29 16:00:00', 'value': 12.2508}],
       ['PM10', {'date': '2020-04-29 15:00:00', 'value': 17.5498}],
       ['PM10', {'date': '2020-04-29 14:00:00', 'value': 18.0093}],
       ['PM10', {'date': '2020-04-29 13:00:00', 'value': 18.8275}],
       ['PM10', {'date': '2020-04-29 12:00:00', 'value': 14.6853}],
       ['PM10', {'date': '2020-04-29 11:00:00', 'value': 18.9421}],
       ['PM10',
        {'date': '2020-04-29 10:00:00', 'value': 14.961500000000001}],
       ['PM10', {'date': '2020-04-29 09:00:00', 'value': 15.1058}],
       ['PM10', {'date': '2020-04-29 08:00:00', 'value': 9.23742}],
       ['PM10', {'date': '2020-04-29 07:00:00', 'value': 15.6364}],
       ['PM10', {'date': '2020-04-29 06:00:00', 'value': 17.2926}],
       ['PM10', {'date': '2020-04-29 05:00:00', 'value': 22.9488}],
       ['PM10', {'date': '2020-04-29 04:00:00', 'value': 17.9393}],
       ['PM10', {'date': '2020-04-29 03:00:00', 'value': 31.0852}],
       ['PM10', {'date': '2020-04-29 02:00:00', 'value': 21.3081}],
       ['PM10', {'date': '2020-04-29 01:00:00', 'value': 16.6146}],
       ['PM10', {'date': '2020-04-29 00:00:00', 'value': 17.5359}],
       ['PM10', {'date': '2020-04-28 23:00:00', 'value': 14.8546}],
       ['PM10', {'date': '2020-04-28 22:00:00', 'value': 18.137}],
       ['PM10', {'date': '2020-04-28 21:00:00', 'value': 24.642}],
       ['PM10', {'date': '2020-04-28 20:00:00', 'value': 14.7974}],
       ['PM10', {'date': '2020-04-28 19:00:00', 'value': 37.6907}],
       ['PM10', {'date': '2020-04-28 18:00:00', 'value': 32.2072}],
       ['PM10', {'date': '2020-04-28 17:00:00', 'value': 25.5212}],
       ['PM10', {'date': '2020-04-28 16:00:00', 'value': 22.1026}],
       ['PM10', {'date': '2020-04-28 15:00:00', 'value': 19.7824}],
       ['PM10', {'date': '2020-04-28 14:00:00', 'value': 22.8888}],
       ['PM10', {'date': '2020-04-28 13:00:00', 'value': 42.582}],
       ['PM10', {'date': '2020-04-28 12:00:00', 'value': 52.2628}],
       ['PM10', {'date': '2020-04-28 11:00:00', 'value': 59.5263}],
       ['PM10', {'date': '2020-04-28 10:00:00', 'value': 66.6315}],
       ['PM10', {'date': '2020-04-28 09:00:00', 'value': 70.9226}],
       ['PM10', {'date': '2020-04-28 08:00:00', 'value': 37.4946}],
       ['PM10', {'date': '2020-04-28 07:00:00', 'value': 27.7646}],
       ['PM10', {'date': '2020-04-28 06:00:00', 'value': 25.1847}],
       ['PM10', {'date': '2020-04-28 05:00:00', 'value': 25.8876}],
       ['PM10', {'date': '2020-04-28 04:00:00', 'value': 24.8568}],
       ['PM10', {'date': '2020-04-28 03:00:00', 'value': 25.3096}],
       ['PM10', {'date': '2020-04-28 02:00:00', 'value': 26.0563}],
       ['PM10', {'date': '2020-04-28 01:00:00', 'value': 34.8191}]],
      dtype=object)

In [9]:
x=df.columns

df['UTC time'].value_counts(normlize=True)

TypeError: value_counts() got an unexpected keyword argument 'normlize'

NameError: name 'x' is not defined